*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ------------------------------------------------ HEADER ---------------------------------------------------------- */

header{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.header_content > span{
    font-size: 24px;
    color: #f9faf8;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.header_content > ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

/* ------------------------------------------------------------ HERO ------------------------------------------------------------------ */

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero_content{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_content > .text{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 500px;
}

.hero_content > .text > p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero_content > .picture{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a0a3a1;
    color: #e5e7eb;
    font-size: 18px;
    padding: 6rem 7rem;
}

.hero_content > .text > button{
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    width: 9rem;
}

/* -------------------------------------------------------------------- INFO --------------------------------------------------- */

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 100px;
    gap: 30px;
}

.info_content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.info_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width:190px
}

.info_container > .picture{
    width: 190px;
    height: 210px;
    background-color: #a0a3a1;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* ---------------------------------------------- QUOTE ----------------------------------------------------------------------------------- */

.quote{
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.quote_content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote_content > h2{
    font: 36px italic #1f2937;
    font-weight: 100;
}

.quote_content > span{
    font-size: 24px;
    align-self: flex-end;
}